{% extends "base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ article.title }}</h2>

                    <p class="post-meta">
                        时间:  {{ article.date_time }}<a class="post-category post-category-js" href="{% url 'search_tag' article.category %}">{{ article.category }}</a>
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ article.content|custom_markdown|safe }}
                    </p>
                </div>
        </section>
        {% include "neteasy.html" %}
</div><!-- /.blog-post -->
{% endblock %}