{% extends "base.html" %}
{% block content %}
<div class="posts">
    <header class="post-header">
        <h2 class="post-title">专题分类:</h2>
    </header>
    {% for tag in tags_list %}
        <section class="post">

            <div class="post-description">
                <p class="post-meta">
                    <a class="post-category post-category-js" href="{% url 'search_tag' tag %}">{{ tag }}</a>
                </p>
            </div>
        </section>

    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}